# Dados UFRN - Análise


## Descrição do projeto

## Descrição dos dados


## Autores


## Vídeo explicativo

Importando bibliotecas a serem usadas

In [42]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#conda install -c conda-forge seaborn

Abertura de dados

In [108]:
#Carregando arquivo referente as unidades
data_unidades = pd.read_csv("Dados/unidades/unidades.csv", sep=';',
                            usecols=["id_unidade", "nome_unidade", "sigla", "municipio","id_unidade_gestora",
                                     "id_unidade_responsavel", "unidade_responsavel", "classificacao_unidade"])


#Selecionando somente os institutos e os centros
centro_ou_inst = [nome.startswith("CENTRO") or nome.startswith("INSTITUTO") for nome in data_unidades.nome_unidade]
data_unidades = data_unidades[centro_ou_inst]

#Carregando arquivo referente aos gastos
data_gastos = pd.read_csv("Dados/unidades/gastos-por-unidade.csv", 
                          sep=';',
                          usecols=["id_unidade", "natureza_despesa", "valor"])

#Convertendo coluna de String para float
data_gastos.valor = data_gastos.valor.replace('[R | ' ' | \$,.]', '', regex=True).astype(float) / 100

#Unindo as tabelas
dataM_unit_gas = pd.merge(data_unidades, data_gastos, on="id_unidade")

#Criando pivot table para somar gasto por unidade
ptable = pd.pivot_table(dataM_unit_gas, index=["id_unidade", "nome_unidade"], values=["valor"], aggfunc=np.sum)

#Salvando essa pivot table num DataFrame
data_gastos_ok = pd.DataFrame(ptable.to_records())

    id_unidade                                nome_unidade         valor
0          439        CENTRO DE CIENCIAS EXATAS E DA TERRA  1.043835e+08
1          440                       CENTRO DE BIOCIENCIAS  6.436635e+07
2          441                 CENTRO DE CIENCIAS DA SAUDE  1.184980e+08
3          442  CENTRO DE CIENCIAS HUMANAS, LETRAS E ARTES  6.963006e+07
4          443        CENTRO DE CIENCIAS SOCIAIS APLICADAS  8.373748e+07
5          445                        CENTRO DE TECNOLOGIA  7.818721e+07
6         1482        CENTRO DE  ENSINO SUPERIOR DO SERIDO  2.611328e+07
7         5965                          CENTRO DE EDUCACAO  1.867217e+07
8         6026                        INSTITUTO DO CEREBRO  3.303266e+07
9         6069                 INSTITUTO METROPOLE DIGITAL  4.944037e+07
10        6919     INSTITUTO DE MEDICINA TROPICAL - IMT-RN  2.767012e+06

In [112]:
#Carregando arquivo dos docentes (link entre turmas e unidades gestoras)
link_docentes = pd.read_csv("Dados/docentes/docentes.csv",
                           sep=';',
                           usecols=["id_servidor", "id_unidade_lotacao"])

      id_servidor  id_unidade_lotacao
0         5753261                1452
1         5752617                1452
2           22092                 351
3         2263697                1452
4         5751986                 351
5           23477                 284
6         5758792                 351
7         5752871                 351
8           22880                 284
9         5752921                 284
10          20149                 351
11        5752917                 284
12        5754960                1452
13        5757141                6069
14          21705                 284
15        5756816                6069
16        5752885                 284
17        5753751                 284
18          26285                 205
19        5753630                 205
20        5757572                 351
21        5754083                 284
22        5759602                 351
23        5752858                 205
24        5758759                 351
25        5756955                6069
26          15520                 284
27        5751545                 351
28          22094                 351
29          20134                5968
...           ...                 ...
2295      5752212                4890
2296        23198                 161
2297        23834                 115
2298      5757536                8116
2299      5755963                6069
2300      5755101                 192
2301      5755045                 115
2302      5758556                 351
2303        17736                 141
2304      5756430                5206
2305      5752741                5075
2306      5755548                5393
2307      5758730                6069
2308        23730                 160
2309      5753689                  50
2310        22936                  68
2311      5757103                1824
2312      5752154                 201
2313        26135                  79
2314        24348                9750
2315      5752480                  79
2316        22765                 197
2317      5752375                  52
2318      5754293                 202
2319      5752377                  79
2320        17994                 160
2321      5755561                1824
2322        21727                 123
2323        25964                 142
2324      5753039                4885

[2325 rows x 2 columns]

In [140]:
#Carregando arquivos de semestre e linkando

for i in range(2017,2018):
    for j in range(1,3):
        #Carregando strings com o caminho dos dados a serem carregados
        file_matricula = "Dados/matriculas/" + (str(i) + str(j)) + ".csv"
        file_turmas = "Dados/turmas/" + (str(i) + str(j)) + ".csv"
        
        #Carregando arquivo de matriculas de certo semestre para DataFrame
        data_matriculas = pd.read_csv(file_matricula, sep=';',
                                      usecols=["id_turma", "discente", "descricao"])
        
        
        
        
        #Carregando arquivo de turmas de certo semestre para DataFrame
        data_turmas = pd.read_csv(file_turmas, sep=';',
                                  usecols=["id_turma", "id_docente_interno", "nivel_ensino",
                                           "ano", "periodo","situacao_turma"])
        
        #Restringindo a busca para o ano procurado
        data_turmas = data_turmas[data_turmas.ano == i]
        
        #Restringindo a busca para o periodo procurado
        data_turmas = data_turmas[data_turmas.periodo == j]
        
        #Restringindo a busca para o curso superior
        data_turmas = data_turmas[data_turmas.nivel_ensino == "GRADUAÇÃO"]
        
        #Restringindo a busca para turmas consolidadas
        data_turmas = data_turmas[data_turmas.situacao_turma == "CONSOLIDADA"]
        
        #Dando merge nas tabelas turmas e matriculas
        dataM_mat_tur = pd.merge(data_turmas, data_matriculas, on="id_turma")
        
        ptable = pd.pivot_table(dataM_mat_tur, index=["id_turma","descricao"],
                                values="ano", aggfunc="count").rename(columns={'ano': 'Contagem'})
        
        #Salvando essa pivot table num DataFrame
        data_cont_situ = pd.DataFrame(ptable.to_records())
        
        print(data_cont_situ)
        
        #Corrigindo nome de coluna, para possibilitar merge
        dataM_mat_tur.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
        dataM_mt_doc = pd.merge(dataM_mat_tur, link_docentes, on="id_servidor")

       id_turma                         descricao  Contagem
0      57593679                          APROVADO        90
1      57593679                         CANCELADO         4
2      57593679                       DESISTENCIA         4
3      57593679                          EXCLUIDA         5
4      57593679                        INDEFERIDO         8
5      57593679  REPROVADO POR MÉDIA E POR FALTAS         9
6      57593679                          TRANCADO         9
7      57593680                          APROVADO        42
8      57593680                 APROVADO POR NOTA        21
9      57593680                         CANCELADO        11
10     57593680                       DESISTENCIA         1
11     57593680                          EXCLUIDA         2
12     57593680                        INDEFERIDO         1
13     57593680                         REPROVADO        24
14     57593680                REPROVADO POR NOTA         3
15     57593680                          TRANCADO         1
16     57593681                          APROVADO        42
17     57593681                 APROVADO POR NOTA        36
18     57593681                         CANCELADO        11
19     57593681                       DESISTENCIA         5
20     57593681                          EXCLUIDA         5
21     57593681                        INDEFERIDO         5
22     57593681                         REPROVADO        21
23     57593681                          TRANCADO         4
24     57593682                          APROVADO         3
25     57593682                 APROVADO POR NOTA        18
26     57593682                         CANCELADO        12
27     57593682                         REPROVADO         3
28     57593682  REPROVADO POR MÉDIA E POR FALTAS         9
29     57593682                          TRANCADO         2
...         ...                               ...       ...
23611  57602544                          APROVADO         3
23612  57602546                          APROVADO         3
23613  57602547                          APROVADO         3
23614  57602548                          APROVADO         3
23615  57602551                 APROVADO POR NOTA       576
23616  57602551                         CANCELADO       192
23617  57602552                          APROVADO         3
23618  57602553                          APROVADO         3
23619  57602554                          APROVADO         6
23620  57602555                         REPROVADO         6
23621  57602556                          APROVADO         6
23622  57602557                          APROVADO        24
23623  57602558                 APROVADO POR NOTA         3
23624  57602559                          APROVADO         3
23625  57602560                          APROVADO         3
23626  57602561                          APROVADO         3
23627  57602562                 APROVADO POR NOTA         3
23628  57602563                          APROVADO         3
23629  57602564                          APROVADO         3
23630  57602565                          APROVADO         2
23631  57602566                          APROVADO         3
23632  57602566                 APROVADO POR NOTA         3
23633  57602567                          APROVADO         6
23634  57602568                          APROVADO         3
23635  57602569                          APROVADO         3
23636  57602570                          APROVADO         3
23637  57602574                          APROVADO         6
23638  57602575                          APROVADO         6
23639  57602677                          APROVADO         6
23640  57602678                 APROVADO POR NOTA         3

[23641 rows x 3 columns]
       id_turma                         descricao  Contagem
0      57603546                          APROVADO        24
1      57603546                 APROVADO POR NOTA        96
2      57603546                         CANCELADO        24
3      57603546                         REPROVADO        36
4      57603547                 APROVADO POR NOTA        60
5      57603547                         CANCELADO        12
6      57603547                         REPROVADO        36
7      57603547                          TRANCADO         4
8      57603548                          APROVADO         6
9      57603548                 APROVADO POR NOTA        15
10     57603548                         CANCELADO         6
11     57603548                       DESISTENCIA         2
12     57603548                         REPROVADO         3
13     57603548  REPROVADO POR MÉDIA E POR FALTAS        15
14     57603548                          TRANCADO         5
15     57603549                          APROVADO         9
16     57603549                 APROVADO POR NOTA         6
17     57603549                         CANCELADO         6
18     57603549                       DESISTENCIA         2
19     57603549                         REPROVADO         9
20     57603549  REPROVADO POR MÉDIA E POR FALTAS         3
21     57603549                          TRANCADO         6
22     57603550                          APROVADO         6
23     57603550                 APROVADO POR NOTA        18
24     57603550                         REPROVADO        18
25     57603551                          APROVADO         6
26     57603551                 APROVADO POR NOTA         9
27     57603551                         CANCELADO         2
28     57603551                         REPROVADO        18
29     57603551                          TRANCADO         1
...         ...                               ...       ...
22861  57612248                          APROVADO         2
22862  57612249                 APROVADO POR NOTA         3
22863  57612250                 APROVADO POR NOTA        36
22864  57612251                          APROVADO         6
22865  57612252                          APROVADO         3
22866  57612253                          APROVADO         9
22867  57612254                          APROVADO         2
22868  57612255                 APROVADO POR NOTA         3
22869  57612256                          APROVADO         6
22870  57612257                          APROVADO         3
22871  57612257                 APROVADO POR NOTA         3
22872  57612257                         REPROVADO         3
22873  57612258                          APROVADO         3
22874  57612348                 APROVADO POR NOTA        18
22875  57612348                          EXCLUIDA         4
22876  57612348                         REPROVADO         6
22877  57612362                          APROVADO         6
22878  57612389                          APROVADO         6
22879  57612389                 APROVADO POR NOTA        54
22880  57612390                          APROVADO       129
22881  57612390                          TRANCADO         1
22882  57612401                          APROVADO       129
22883  57612401                          TRANCADO         1
22884  57612402                          APROVADO       132
22885  57612403                          APROVADO         9
22886  57612403                 APROVADO POR NOTA       123
22887  57612404                          APROVADO       126
22888  57612404                 APROVADO POR NOTA         6
22889  57612405                          APROVADO       516
22890  57612405                          EXCLUIDA         4

[22891 rows x 3 columns]

In [98]:
sns.set()
data_gastos
# The four preset contexts, in order of relative size, are paper, notebook, talk, and poster
sns.set_context("notebook")
data_gastos.valor = data_gastos.valor.astype(float)
# plot a univariate distribution of observations.
#sns.kdeplot(int(data_gastos["valor"]))

ValueError: could not convert string to float: 'R$           389,20'