# Dados UFRN - Análise


## Descrição do projeto

## Descrição dos dados


## Autores


## Vídeo explicativo

Importando bibliotecas a serem usadas

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#conda install -c conda-forge seaborn

Abertura de dados

In [32]:
#Carregando arquivo referente as unidades
data_unidades = pd.read_csv("Dados/unidades/unidades.csv", sep=';',
                            usecols=["id_unidade", "nome_unidade", "sigla", "municipio","id_unidade_gestora",
                                     "id_unidade_responsavel", "unidade_responsavel", "classificacao_unidade"])


#Selecionando somente os institutos e os centros
centro_ou_inst = [nome.startswith("CENTRO") or nome.startswith("INSTITUTO") for nome in data_unidades.nome_unidade]
data_unidades_ci = data_unidades[centro_ou_inst]

#Carregando arquivo referente aos gastos
data_gastos = pd.read_csv("Dados/unidades/gastos-por-unidade.csv", 
                          sep=';',
                          usecols=["id_unidade", "natureza_despesa", "valor"])

#Convertendo coluna de String para float
data_gastos.valor = data_gastos.valor.replace('[R | ' ' | \$,.]', '', regex=True).astype(float) / 100

#Unindo as tabelas
dataM_unit_gas = pd.merge(data_unidades_ci, data_gastos, on="id_unidade")

#Criando pivot table para somar gasto por unidade
ptable = pd.pivot_table(dataM_unit_gas, index=["id_unidade", "nome_unidade"], values=["valor"], aggfunc=np.sum)

#Salvando essa pivot table num DataFrame
data_gastos_ok = pd.DataFrame(ptable.to_records())

link_unidades = data_unidades[["id_unidade", "id_unidade_gestora"]]

      id_unidade  id_unidade_gestora
0           8190                 441
1           8772                 605
2            176                 440
3            119                 439
4            389                 441
5           5966                5965
6             61                1482
7             62                1482
8          10552                5965
9           2877                 443
10          2830                 605
11            89                 445
12          2482                 443
13          4226                 447
14          4570                1482
15          8864                 605
16          2448                 439
17          4107                1482
18          8188                 441
19          2476                 440
20          3665                1424
21          8186                 439
22          3447                 605
23          2746                 447
24         11451                8194
25          8192                 441
26          4331                 441
27          6440                 442
28          3448                 605
29          4199                 447
...          ...                 ...
2076        4414                 445
2077        4440                 445
2078        3871                 446
2079       15241                8193
2080        9887                8194
2081        9880                8194
2082        6350                 605
2083        9851                8195
2084        9754                8193
2085       13339                8194
2086        9828                8195
2087        9892                8194
2088        6352                 605
2089       13163                8195
2090       10925                8195
2091        9830                8195
2092        9888                8194
2093        9864                8194
2094        2736                 447
2095         605                 605
2096        3784                 446
2097       13530                8193
2098        2739                 447
2099       11038                8194
2100        2738                 447
2101       10979                8194
2102        4142                 447
2103       13221                8194
2104        1677                 446
2105       14533                8193

[2106 rows x 2 columns]

In [3]:
#Carregando arquivo dos docentes (link entre turmas e unidades gestoras)
link_docentes = pd.read_csv("Dados/docentes/docentes.csv",
                           sep=';',
                           usecols=["id_servidor", "id_unidade_lotacao"])

In [33]:
#Carregando arquivos de semestre e linkando

for i in range(2016,2018):
    for j in range(1,3):
        #Carregando strings com o caminho dos dados a serem carregados
        file_matricula = "Dados/matriculas/" + (str(i) + str(j)) + ".csv"
        file_turmas = "Dados/turmas/" + (str(i) + str(j)) + ".csv"
        
        #Carregando arquivo de matriculas de certo semestre para DataFrame
        data_matriculas = pd.read_csv(file_matricula, sep=';',
                                      usecols=["id_turma", "discente", "descricao"])
        #id_turma: necessario para linkar com "turmas"
        #discente: necessario para contagem
        #descricao: o que vamos contar
        
        #Separando valores de descricao irrelevantes para o problema
        tags_indesejadas = ["INDEFERIDO", "AGUARDANDO DEFERIMENTO", "EM ESPERA", 
                            "CUMPRIU", "TRANSFERIDO", "DISPENSADO", "EXCLUIDA"]
        
        #Selecionando apenas os valores nao irrelevantes (relevantes)
        data_matriculas = data_matriculas[~data_matriculas.descricao.isin(tags_indesejadas)]
        
        #Criando mapa para classificar APROVADO ou APROVADO POR NOTA como feedback positivo
        #E classificar todas outras tags como feedback negativo
        map_dict = {}
        for desc in data_matriculas.descricao:
            if desc == "APROVADO POR NOTA" or desc == "APROVADO":
                map_dict[desc] = 1
            else:
                map_dict[desc] = 0
            
        #Atualizar valores das tags com valores mapeados
        data_matriculas.descricao = data_matriculas.descricao.map(map_dict)
        
        #Carregando arquivo de turmas de certo semestre para DataFrame
        data_turmas = pd.read_csv(file_turmas, sep=';',
                                  usecols=["id_turma", "id_docente_interno", "nivel_ensino",
                                           "ano", "periodo","situacao_turma"])
        #id_turma: necessario para linkar com "matriculas"
        #id_docente_interno: necessario para linkar com "docentes"
        #nivel_ensino: restringir para GRADUACAO
        #ano: restringir para ano analisado
        #periodo: restringir para periodo analisado
        #situacao_turma: restringir para turmas consolidadas
        
        #Restringindo a busca para o ano procurado
        data_turmas = data_turmas[data_turmas.ano == i]
        
        #Restringindo a busca para o periodo procurado
        data_turmas = data_turmas[data_turmas.periodo == j]
        
        #Restringindo a busca para o curso superior
        data_turmas = data_turmas[data_turmas.nivel_ensino == "GRADUAÇÃO"]
        
        #Restringindo a busca para turmas consolidadas
        data_turmas = data_turmas[data_turmas.situacao_turma == "CONSOLIDADA"]
        
        #Dando merge nas tabelas turmas e matriculas
        dataM_mat_tur = pd.merge(data_turmas, data_matriculas, on="id_turma")
        
        #Criando pivot table para contar reprovacoes, aprovacoes...
        ptable = pd.pivot_table(dataM_mat_tur, index=["id_turma", "id_docente_interno", "descricao"],
                                values="ano", aggfunc="count").rename(columns={'ano': 'Contagem'})
        
        #Salvando essa pivot table num DataFrame
        data_cont_situ = pd.DataFrame(ptable.to_records())        
        
        #Corrigindo nome de coluna, para possibilitar merge
        data_cont_situ.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
        
        #Executando merge
        dataM_mt_doc = pd.merge(data_cont_situ, link_docentes, on="id_servidor")
        
        #Criando pivot table para agregar contagens por unidade e entao por turma
        ptable = pd.pivot_table(dataM_mt_doc, index=["id_unidade_lotacao", "id_turma", "descricao"],
                               values="Contagem")
        
        #Salvando essa pivot table num DataFrame
        data_cont_unit = pd.DataFrame(ptable.to_records())
        
        #Adicionando nova coluna, referente a porcentagem de valores em "descricao" por "id_turma"
        data_cont_unit["% da turma"] = (data_cont_unit.Contagem / 
                                        data_cont_unit.groupby(["id_unidade_lotacao","id_turma"])
                                        .Contagem.transform(sum) * 100)
        
        ptable = pd.pivot_table(data_cont_unit, index=["id_unidade_lotacao", "id_turma" ,"descricao"],
                        values="% da turma", aggfunc=np.mean)
        
        #Salvando essa pivot table num DataFrame
        data_cont_unit = pd.DataFrame(ptable.to_records())
        
        #Adicionando valores 0% nas turmas com 100% de aprovacao (ou reprovacao) para poder calcular a media
        for (unidade, turma), _count in data_cont_unit.groupby(["id_unidade_lotacao", "id_turma"])["descricao"].count().iteritems():
            if _count == 1:
                soh_aprovado_ou_nao = data_cont_unit[(data_cont_unit.id_turma == turma) & 
                                  (data_cont_unit.id_unidade_lotacao == unidade)]["descricao"]
   
                temp_df = pd.DataFrame(data={"id_unidade_lotacao": unidade,
                                             "id_turma": turma,
                                             "descricao": 1 - soh_aprovado_ou_nao,
                                             "% da turma": 0.0}, columns=data_cont_unit.columns)
                
                data_cont_unit = data_cont_unit.append(temp_df, ignore_index=True)
        
        #Calculando a media de aprovacao por unidade
        ptable = pd.pivot_table(data_cont_unit, index=["id_unidade_lotacao" ,"descricao"],
                        values="% da turma", aggfunc=np.mean)
        
        #Salvando essa pivot table num DataFrame
        data_aprov_unit = pd.DataFrame(ptable.to_records()).rename(columns={"id_unidade_lotacao": "id_unidade"})
        print(data_aprov_unit)
   
        data_aprov_unit = pd.merge(link_unidades, data_aprov_unit, on="id_unidade")
        
        print(data_aprov_unit)

     id_unidade  descricao  % da turma
0            47          0   31.404177
1            47          1   68.595823
2            50          0   19.067450
3            50          1   80.932550
4            52          0   15.642860
5            52          1   84.357140
6            54          0    8.871416
7            54          1   91.128584
8            56          0   20.774895
9            56          1   79.225105
10           57          0   10.677905
11           57          1   89.322095
12           63          0    9.923341
13           63          1   90.076659
14           68          0   20.689655
15           68          1   79.310345
16           79          0    5.733851
17           79          1   94.266149
18           84          0   11.600448
19           84          1   88.399552
20          112          0   24.850639
21          112          1   75.149361
22          115          0   12.993554
23          115          1   87.006446
24          117          0    4.733623
25          117          1   95.266377
26          120          0   43.505859
27          120          1   56.494141
28          121          0   34.374465
29          121          1   65.625535
..          ...        ...         ...
162        6025          0   27.754065
163        6025          1   72.245935
164        6026          0   34.268926
165        6026          1   65.731074
166        6040          0   16.954277
167        6040          1   83.045723
168        6069          0   41.438069
169        6069          1   58.561931
170        7278          0    1.793976
171        7278          1   98.206024
172        7513          0    1.862714
173        7513          1   98.137286
174        7761          0   16.762028
175        7761          1   83.237972
176        7847          0   10.996009
177        7847          1   89.003991
178        8116          0   24.471631
179        8116          1   75.528369
180        8193          0    7.558140
181        8193          1   92.441860
182        8366          0   26.225030
183        8366          1   73.774970
184        9726          0   35.670753
185        9726          1   64.329247
186        9750          0    7.808924
187        9750          1   92.191076
188       10413          0    2.619338
189       10413          1   97.380662
190       12114          0    1.313443
191       12114          1   98.686557

[192 rows x 3 columns]
     id_unidade  id_unidade_gestora  descricao  % da turma
0           234                1482          0   13.330665
1           234                1482          1   86.669335
2          5486                1482          0   15.433537
3          5486                1482          1   84.566463
4           235                1482          0   16.050498
5           235                1482          1   83.949502
6           236                1482          0   14.866808
7           236                1482          1   85.133192
8          4852                 442          0    6.733491
9          4852                 442          1   93.266509
10         6040                 445          0   16.954277
11         6040                 445          1   83.045723
12          208                 441          0    3.007982
13          208                 441          1   96.992018
14          139                 442          0   23.855038
15          139                 442          1   76.144962
16          182                 440          0   23.789336
17          182                 440          1   76.210664
18          183                 440          0   23.568175
19          183                 440          1   76.431825
20           63                 443          0    9.923341
21           63                 443          1   90.076659
22          161                 443          0   25.198476
23          161                 443          1   74.801524
24         8116                 439          0   24.471631
25         8116                 439          1   75.528369
26          163                 443          0   18.658004
27          163                 443          1   81.341996
28         9726                1482          0   35.670753
29         9726                1482          1   64.329247
..          ...                 ...        ...         ...
114       10413                8193          0    2.619338
115       10413                8193          1   97.380662
116        1440                8193          0    0.356250
117        1440                8193          1   99.643750
118       12114                8193          0    1.313443
119       12114                8193          1   98.686557
120         351                 605          0   12.582836
121         351                 605          1   87.417164
122        4885                 605          0   45.801738
123        4885                 605          1   54.198262
124         284                 605          0    8.370956
125         284                 605          1   91.629044
126         205                 605          0   19.106837
127         205                 605          1   80.893163
128        7278                 605          0    1.793976
129        7278                 605          1   98.206024
130        4890                 605          0    5.912909
131        4890                 605          1   94.087091
132        6025                 439          0   27.754065
133        6025                 439          1   72.245935
134        6026                 605          0   34.268926
135        6026                 605          1   65.731074
136        6069                 605          0   41.438069
137        6069                 605          1   58.561931
138         290                 605          0    7.152044
139         290                 605          1   92.847956
140          68                 439          0   20.689655
141          68                 439          1   79.310345
142        7513                 442          0    1.862714
143        7513                 442          1   98.137286

[144 rows x 4 columns]
     id_unidade  descricao  % da turma
0            47          0   28.164873
1            47          1   71.835127
2            50          0   21.875578
3            50          1   78.124422
4            52          0   15.714104
5            52          1   84.285896
6            54          0    6.675753
7            54          1   93.324247
8            56          0   21.196932
9            56          1   78.803068
10           57          0   12.205568
11           57          1   87.794432
12           63          0    9.596399
13           63          1   90.403601
14           68          0   37.804878
15           68          1   62.195122
16           79          0    6.587333
17           79          1   93.412667
18           84          0   11.485510
19           84          1   88.514490
20          112          0   20.747440
21          112          1   79.252560
22          115          0   14.796932
23          115          1   85.203068
24          117          0    7.341793
25          117          1   92.658207
26          120          0   41.252667
27          120          1   58.747333
28          121          0   34.905344
29          121          1   65.094656
..          ...        ...         ...
164        6026          0   40.615569
165        6026          1   59.384431
166        6040          0   27.962217
167        6040          1   72.037783
168        6069          0   43.755643
169        6069          1   56.244357
170        7278          0    3.256587
171        7278          1   96.743413
172        7513          0    5.430984
173        7513          1   94.569016
174        7761          0   27.637850
175        7761          1   72.362150
176        7847          0   15.292503
177        7847          1   84.707497
178        8116          0   14.568134
179        8116          1   85.431866
180        8193          0    6.250000
181        8193          1   93.750000
182        8366          0   39.154489
183        8366          1   60.845511
184        9726          0   28.767105
185        9726          1   71.232895
186        9750          0    4.284784
187        9750          1   95.715216
188        9755          0    5.120082
189        9755          1   94.879918
190       10413          0    3.877084
191       10413          1   96.122916
192       12114          0    1.288864
193       12114          1   98.711136

[194 rows x 3 columns]
     id_unidade  id_unidade_gestora  descricao  % da turma
0           234                1482          0   14.734900
1           234                1482          1   85.265100
2          5486                1482          0   18.092292
3          5486                1482          1   81.907708
4           235                1482          0   15.965642
5           235                1482          1   84.034358
6           236                1482          0   16.203623
7           236                1482          1   83.796377
8          4852                 442          0   26.335490
9          4852                 442          1   73.664510
10         6040                 445          0   27.962217
11         6040                 445          1   72.037783
12          208                 441          0    3.839180
13          208                 441          1   96.160820
14          139                 442          0   20.408077
15          139                 442          1   79.591923
16          182                 440          0   22.048413
17          182                 440          1   77.951587
18          183                 440          0   19.529056
19          183                 440          1   80.470944
20           63                 443          0    9.596399
21           63                 443          1   90.403601
22          161                 443          0   26.406084
23          161                 443          1   73.593916
24         8116                 439          0   14.568134
25         8116                 439          1   85.431866
26          163                 443          0   19.034671
27          163                 443          1   80.965329
28         9726                1482          0   28.767105
29         9726                1482          1   71.232895
..          ...                 ...        ...         ...
114       10413                8193          0    3.877084
115       10413                8193          1   96.122916
116        1440                8193          0    0.148810
117        1440                8193          1   99.851190
118       12114                8193          0    1.288864
119       12114                8193          1   98.711136
120         351                 605          0   15.750212
121         351                 605          1   84.249788
122        4885                 605          0   48.055366
123        4885                 605          1   51.944634
124         284                 605          0    6.519351
125         284                 605          1   93.480649
126         205                 605          0   16.151251
127         205                 605          1   83.848749
128        7278                 605          0    3.256587
129        7278                 605          1   96.743413
130        4890                 605          0    6.718774
131        4890                 605          1   93.281226
132        6025                 439          0   28.052049
133        6025                 439          1   71.947951
134        6026                 605          0   40.615569
135        6026                 605          1   59.384431
136        6069                 605          0   43.755643
137        6069                 605          1   56.244357
138         290                 605          0   17.330717
139         290                 605          1   82.669283
140          68                 439          0   37.804878
141          68                 439          1   62.195122
142        7513                 442          0    5.430984
143        7513                 442          1   94.569016

[144 rows x 4 columns]
     id_unidade  descricao  % da turma
0            47          0   31.660689
1            47          1   68.339311
2            50          0   27.063514
3            50          1   72.936486
4            52          0   15.391827
5            52          1   84.608173
6            54          0    7.664600
7            54          1   92.335400
8            56          0   22.514773
9            56          1   77.485227
10           57          0    9.895599
11           57          1   90.104401
12           63          0    9.322783
13           63          1   90.677217
14           68          0   15.789474
15           68          1   84.210526
16           79          0    7.199280
17           79          1   92.800720
18           84          0    9.501345
19           84          1   90.498655
20          112          0   19.679469
21          112          1   80.320531
22          115          0   17.789177
23          115          1   82.210823
24          117          0    6.635532
25          117          1   93.364468
26          120          0   42.450053
27          120          1   57.549947
28          121          0   36.428826
29          121          1   63.571174
..          ...        ...         ...
162        6026          0   41.510057
163        6026          1   58.489943
164        6040          0   25.806141
165        6040          1   74.193859
166        6069          0   37.092739
167        6069          1   62.907261
168        7278          0    3.010861
169        7278          1   96.989139
170        7513          0    3.636364
171        7513          1   96.363636
172        7761          0   35.090141
173        7761          1   64.909859
174        7847          0   17.367216
175        7847          1   82.632784
176        8116          0   23.703582
177        8116          1   76.296418
178        8193          0    1.923077
179        8193          1   98.076923
180        8366          0   31.945112
181        8366          1   68.054888
182        9726          0   29.965278
183        9726          1   70.034722
184        9750          0    8.044334
185        9750          1   91.955666
186        9755          0   27.322626
187        9755          1   72.677374
188       10413          0    5.088702
189       10413          1   94.911298
190       12114          0    1.181006
191       12114          1   98.818994

[192 rows x 3 columns]
     id_unidade  id_unidade_gestora  descricao  % da turma
0           234                1482          0   21.469045
1           234                1482          1   78.530955
2          5486                1482          0   18.550299
3          5486                1482          1   81.449701
4           235                1482          0   18.600185
5           235                1482          1   81.399815
6           236                1482          0   13.088905
7           236                1482          1   86.911095
8          4852                 442          0   36.177249
9          4852                 442          1   63.822751
10         6040                 445          0   25.806141
11         6040                 445          1   74.193859
12          208                 441          0    5.769931
13          208                 441          1   94.230069
14          139                 442          0   21.182919
15          139                 442          1   78.817081
16          182                 440          0   23.568565
17          182                 440          1   76.431435
18          183                 440          0   23.625282
19          183                 440          1   76.374718
20           63                 443          0    9.322783
21           63                 443          1   90.677217
22          161                 443          0   24.197380
23          161                 443          1   75.802620
24         8116                 439          0   23.703582
25         8116                 439          1   76.296418
26          163                 443          0   20.746272
27          163                 443          1   79.253728
28         9726                1482          0   29.965278
29         9726                1482          1   70.034722
..          ...                 ...        ...         ...
114       10413                8193          0    5.088702
115       10413                8193          1   94.911298
116        1440                8193          0    0.205399
117        1440                8193          1   99.794601
118       12114                8193          0    1.181006
119       12114                8193          1   98.818994
120         351                 605          0   16.384344
121         351                 605          1   83.615656
122        4885                 605          0   43.197241
123        4885                 605          1   56.802759
124         284                 605          0    8.439509
125         284                 605          1   91.560491
126         205                 605          0   14.324467
127         205                 605          1   85.675533
128        7278                 605          0    3.010861
129        7278                 605          1   96.989139
130        4890                 605          0    5.648786
131        4890                 605          1   94.351214
132        6025                 439          0   30.414460
133        6025                 439          1   69.585540
134        6026                 605          0   41.510057
135        6026                 605          1   58.489943
136        6069                 605          0   37.092739
137        6069                 605          1   62.907261
138         290                 605          0    9.341964
139         290                 605          1   90.658036
140          68                 439          0   15.789474
141          68                 439          1   84.210526
142        7513                 442          0    3.636364
143        7513                 442          1   96.363636

[144 rows x 4 columns]
     id_unidade  descricao  % da turma
0            47          0   27.641671
1            47          1   72.358329
2            50          0   26.363411
3            50          1   73.636589
4            52          0   16.572089
5            52          1   83.427911
6            54          0    6.093004
7            54          1   93.906996
8            56          0   28.562636
9            56          1   71.437364
10           57          0    9.136958
11           57          1   90.863042
12           63          0    9.157677
13           63          1   90.842323
14           68          0   19.402985
15           68          1   80.597015
16           79          0    7.949849
17           79          1   92.050151
18           84          0   11.917737
19           84          1   88.082263
20          112          0   20.372823
21          112          1   79.627177
22          115          0   16.715659
23          115          1   83.284341
24          117          0    6.281635
25          117          1   93.718365
26          120          0   38.423132
27          120          1   61.576868
28          121          0   29.661561
29          121          1   70.338439
..          ...        ...         ...
166        6040          0   21.647052
167        6040          1   78.352948
168        6069          0   39.519062
169        6069          1   60.480938
170        7278          0    3.230282
171        7278          1   96.769718
172        7513          0    3.571429
173        7513          1   96.428571
174        7761          0   27.845102

In [98]:
sns.set()
data_gastos
# The four preset contexts, in order of relative size, are paper, notebook, talk, and poster
sns.set_context("notebook")
data_gastos.valor = data_gastos.valor.astype(float)
# plot a univariate distribution of observations.
#sns.kdeplot(int(data_gastos["valor"]))

ValueError: could not convert string to float: 'R$           389,20'