# Dados UFRN - Análise


## Descrição do projeto

## Descrição dos dados


## Autores


## Vídeo explicativo

Importando bibliotecas a serem usadas

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#conda install -c conda-forge seaborn

Abertura de dados

In [3]:
#Carregando arquivo referente as unidades
data_unidades = pd.read_csv("Dados/unidades/unidades.csv", sep=';',
                            usecols=["id_unidade", "nome_unidade", "sigla", "municipio","id_unidade_gestora",
                                     "id_unidade_responsavel", "unidade_responsavel", "classificacao_unidade"])


#Selecionando somente os institutos e os centros
centro_ou_inst = [nome.startswith("CENTRO") or nome.startswith("INSTITUTO") for nome in data_unidades.nome_unidade]
data_unidades = data_unidades[centro_ou_inst]

#Carregando arquivo referente aos gastos
data_gastos = pd.read_csv("Dados/unidades/gastos-por-unidade.csv", 
                          sep=';',
                          usecols=["id_unidade", "natureza_despesa", "valor"])

#Convertendo coluna de String para float
data_gastos.valor = data_gastos.valor.replace('[R | ' ' | \$,.]', '', regex=True).astype(float) / 100

#Unindo as tabelas
dataM_unit_gas = pd.merge(data_unidades, data_gastos, on="id_unidade")

#Criando pivot table para somar gasto por unidade
ptable = pd.pivot_table(dataM_unit_gas, index=["id_unidade", "nome_unidade"], values=["valor"], aggfunc=np.sum)

#Salvando essa pivot table num DataFrame
data_gastos_ok = pd.DataFrame(ptable.to_records())

In [4]:
#Carregando arquivo dos docentes (link entre turmas e unidades gestoras)
link_docentes = pd.read_csv("Dados/docentes/docentes.csv",
                           sep=';',
                           usecols=["id_servidor", "id_unidade_lotacao"])

In [58]:
#Carregando arquivos de semestre e linkando

for i in range(2016,2018):
    for j in range(1,3):
        #Carregando strings com o caminho dos dados a serem carregados
        file_matricula = "Dados/matriculas/" + (str(i) + str(j)) + ".csv"
        file_turmas = "Dados/turmas/" + (str(i) + str(j)) + ".csv"
        
        #Carregando arquivo de matriculas de certo semestre para DataFrame
        data_matriculas = pd.read_csv(file_matricula, sep=';',
                                      usecols=["id_turma", "discente", "descricao"])
        #id_turma: necessario para linkar com "turmas"
        #discente: necessario para contagem
        #descricao: o que vamos contar
        
        #Separando valores de descricao irrelevantes para o problema
        tags_indesejadas = ["INDEFERIDO", "AGUARDANDO DEFERIMENTO", "EM ESPERA", 
                            "CUMPRIU", "TRANSFERIDO", "DISPENSADO", "EXCLUIDA"]
        
        #Selecionando apenas os valores nao irrelevantes (relevantes)
        data_matriculas = data_matriculas[~data_matriculas.descricao.isin(tags_indesejadas)]
        
        #Criando mapa para classificar APROVADO ou APROVADO POR NOTA como feedback positivo
        #E classificar todas outras tags como feedback negativo
        map_dict = {}
        for desc in data_matriculas.descricao:
            if desc == "APROVADO POR NOTA" or desc == "APROVADO":
                map_dict[desc] = 1
            else:
                map_dict[desc] = 0
            
        #Atualizar valores das tags com valores mapeados
        data_matriculas.descricao = data_matriculas.descricao.map(map_dict)
        
        #Carregando arquivo de turmas de certo semestre para DataFrame
        data_turmas = pd.read_csv(file_turmas, sep=';',
                                  usecols=["id_turma", "id_docente_interno", "nivel_ensino",
                                           "ano", "periodo","situacao_turma"])
        #id_turma: necessario para linkar com "matriculas"
        #id_docente_interno: necessario para linkar com "docentes"
        #nivel_ensino: restringir para GRADUACAO
        #ano: restringir para ano analisado
        #periodo: restringir para periodo analisado
        #situacao_turma: restringir para turmas consolidadas
        
        #Restringindo a busca para o ano procurado
        data_turmas = data_turmas[data_turmas.ano == i]
        
        #Restringindo a busca para o periodo procurado
        data_turmas = data_turmas[data_turmas.periodo == j]
        
        #Restringindo a busca para o curso superior
        data_turmas = data_turmas[data_turmas.nivel_ensino == "GRADUAÇÃO"]
        
        #Restringindo a busca para turmas consolidadas
        data_turmas = data_turmas[data_turmas.situacao_turma == "CONSOLIDADA"]
        
        #Dando merge nas tabelas turmas e matriculas
        dataM_mat_tur = pd.merge(data_turmas, data_matriculas, on="id_turma")
        
        #Criando pivot table para contar reprovacoes, aprovacoes...
        ptable = pd.pivot_table(dataM_mat_tur, index=["id_turma", "id_docente_interno", "descricao"],
                                values="ano", aggfunc="count").rename(columns={'ano': 'Contagem'})
        
        #Salvando essa pivot table num DataFrame
        data_cont_situ = pd.DataFrame(ptable.to_records())        
        
        #Corrigindo nome de coluna, para possibilitar merge
        data_cont_situ.rename(columns={'id_docente_interno': 'id_servidor'}, inplace=True)
        
        #Executando merge
        dataM_mt_doc = pd.merge(data_cont_situ, link_docentes, on="id_servidor")
        
        #Criando pivot table para agregar contagens por unidade e entao por turma
        ptable = pd.pivot_table(dataM_mt_doc, index=["id_unidade_lotacao", "id_turma", "descricao"],
                               values="Contagem")
        
        #Salvando essa pivot table num DataFrame
        data_cont_unit = pd.DataFrame(ptable.to_records())
        
        #Adicionando nova coluna, referente a porcentagem de valores em "descricao" por "id_turma"
        data_cont_unit["% da turma"] = (data_cont_unit.Contagem / 
                                        data_cont_unit.groupby(["id_unidade_lotacao","id_turma"])
                                        .Contagem.transform(sum) * 100)
        
        ptable = pd.pivot_table(data_cont_unit, index=["id_unidade_lotacao", "id_turma","descricao"],
                        values="% da turma", aggfunc=np.mean)
        
        print(ptable)

                                       % da turma
id_unidade_lotacao id_turma descricao
47                 57573641 0           68.085106
                            1           31.914894
                   57573642 0           10.810811
                            1           89.189189
                   57573643 0            8.163265
                            1           91.836735
                   57573644 0           22.222222
                            1           77.777778
                   57573646 0           57.142857
                            1           42.857143
                   57573647 0           10.000000
                            1           90.000000
                   57573648 0           16.494845
                            1           83.505155
                   57573649 1          100.000000
                   57573651 0           18.181818
                            1           81.818182
                   57573654 0           59.550562
                            1           40.449438
                   57573655 0           25.000000
                            1           75.000000
                   57573658 0           25.000000
                            1           75.000000
                   57573659 0           33.898305
                            1           66.101695
                   57573663 0           24.324324
                            1           75.675676
                   57573664 0           17.582418
                            1           82.417582
                   57573665 0           13.636364
...                                           ...
12114              57575467 1          100.000000
                   57575680 0            1.219512
                            1           98.780488
                   57575681 0            8.695652
                            1           91.304348
                   57575934 0           17.894737
                            1           82.105263
                   57575979 1          100.000000
                   57576100 0            2.040816
                            1           97.959184
                   57576102 1          100.000000
                   57576113 0            6.666667
                            1           93.333333
                   57576117 1          100.000000
                   57576141 1          100.000000
                   57576162 1          100.000000
                   57576164 1          100.000000
                   57576165 1          100.000000
                   57576169 1          100.000000
                   57576183 1          100.000000
                   57576196 1          100.000000
                   57576199 1          100.000000
                   57576200 1          100.000000
                   57579937 1          100.000000
                   57579938 1          100.000000
                   57579939 1          100.000000
                   57579940 1          100.000000
                   57580121 1          100.000000
                   57580122 1          100.000000
                   57580124 1          100.000000

[7797 rows x 1 columns]
                                       % da turma
id_unidade_lotacao id_turma descricao
47                 57584799 0           56.250000
                            1           43.750000
                   57584800 0           33.333333
                            1           66.666667
                   57584801 0            7.142857
                            1           92.857143
                   57584802 0            5.263158
                            1           94.736842
                   57584803 0           14.285714
                            1           85.714286
                   57584805 0           33.333333
                            1           66.666667
                   57584806 0           19.642857
                            1           80.357143
                   57584808 0           40.000000
                            1           60.000000
                   57584811 0           14.634146
                            1           85.365854
                   57584812 0           25.742574
                            1           74.257426
                   57584814 0           31.355932
                            1           68.644068
                   57584815 0           33.823529
                            1           66.176471
                   57584816 0           55.789474
                            1           44.210526
                   57584817 0           55.000000
                            1           45.000000
                   57584818 0           25.806452
                            1           74.193548
...                                           ...
12114              57589459 1          100.000000
                   57589461 1          100.000000
                   57589463 1          100.000000
                   57589466 1          100.000000
                   57589467 1          100.000000
                   57589552 1          100.000000
                   57589657 1          100.000000
                   57589802 1          100.000000
                   57589804 1          100.000000
                   57589805 1          100.000000
                   57589888 1          100.000000
                   57589889 1          100.000000
                   57589891 1          100.000000
                   57589892 1          100.000000
                   57589893 1          100.000000
                   57589894 1          100.000000
                   57589895 1          100.000000
                   57589896 1          100.000000
                   57589897 1          100.000000
                   57589898 1          100.000000
                   57589899 1          100.000000
                   57589901 1          100.000000
                   57589910 1          100.000000
                   57589929 1          100.000000
                   57589930 1          100.000000
                   57589931 1          100.000000
                   57589932 1          100.000000
                   57590853 0           22.222222
                            1           77.777778
                   57590864 1          100.000000

[8270 rows x 1 columns]
                                       % da turma
id_unidade_lotacao id_turma descricao
47                 57593737 0           40.000000
                            1           60.000000
                   57593738 0           35.714286
                            1           64.285714
                   57593739 0           14.285714
                            1           85.714286
                   57593740 0           31.818182
                            1           68.181818
                   57593741 0            9.090909
                            1           90.909091
                   57593742 0           10.000000
                            1           90.000000
                   57593743 0           25.000000
                            1           75.000000
                   57593745 0           17.647059
                            1           82.352941
                   57593747 0           16.666667
                            1           83.333333
                   57593748 0           44.785276
                            1           55.214724
                   57593749 0           31.818182
                            1           68.181818
                   57593750 0           33.333333
                            1           66.666667
                   57593751 0           34.545455
                            1           65.454545
                   57593753 0           57.142857
                            1           42.857143
                   57593754 0           53.846154
                            1           46.153846
...                                           ...
12114              57598575 1          100.000000
                   57599902 1          100.000000
                   57600064 1          100.000000
                   57600065 1          100.000000
                   57600066 1          100.000000
                   57600067 1          100.000000
                   57600068 1          100.000000
                   57600069 1          100.000000
                   57600082 1          100.000000
                   57600083 1          100.000000
                   57600084 1          100.000000
                   57600088 1          100.000000
                   57600089 1          100.000000
                   57600092 1          100.000000
                   57600093 1          100.000000
                   57600094 1          100.000000
                   57600095 1          100.000000
                   57600096 1          100.000000
                   57600097 1          100.000000
                   57600098 1          100.000000
                   57600099 1          100.000000
                   57600100 1          100.000000
                   57600101 1          100.000000
                   57601131 0            1.639344
                            1           98.360656
                   57601132 0            6.250000
                            1           93.750000
                   57601133 1          100.000000
                   57601134 1          100.000000
                   57601136 1          100.000000

[8726 rows x 1 columns]
                                       % da turma
id_unidade_lotacao id_turma descricao
47                 57605250 0           36.612022
                            1           63.387978
                   57605252 0           47.368421
                            1           52.631579
                   57605323 0           30.402930
                            1           69.597070
                   57605393 0           38.983051
                            1           61.016949
                   57606727 0           66.666667
                            1           33.333333
                   57606728 0           28.571429
                            1           71.428571
                   57606730 0            1.818182
                            1           98.181818
                   57606731 0           11.475410
                            1           88.524590
                   57606733 0           30.769231
                            1           69.230769
                   57606734 0           47.826087
                            1           52.173913
                   57606737 0           31.250000
                            1           68.750000
                   57606739 0           44.444444
                            1           55.555556
                   57606741 0           45.454545
                            1           54.545455
                   57606742 0           26.190476
                            1           73.809524
                   57606744 0           12.500000
                            1           87.500000
...                                           ...
12114              57606212 1          100.000000
                   57606222 1          100.000000
                   57606224 1          100.000000
                   57606226 1          100.000000
                   57609429 0           13.913043
                            1           86.086957
                   57609456 0           13.461538
                            1           86.538462
                   57609915 1          100.000000
                   57609934 1          100.000000
                   57610626 1          100.000000
                   57610628 1          100.000000
                   57610629 1          100.000000
                   57610630 1          100.000000
                   57610631 1          100.000000
                   57610633 1          100.000000
                   57610636 1          100.000000
                   57610638 1          100.000000
                   57610639 1          100.000000
                   57610640 1          100.000000
                   57610641 1          100.000000
                   57610642 1          100.000000
                   57610773 1          100.000000
                   57610774 1          100.000000
                   57610775 1          100.000000
                   57611396 1          100.000000
                   57611397 1          100.000000
                   57611399 1          100.000000
                   57611400 1          100.000000
                   57611401 1          100.000000

[8751 rows x 1 columns]

In [98]:
sns.set()
data_gastos
# The four preset contexts, in order of relative size, are paper, notebook, talk, and poster
sns.set_context("notebook")
data_gastos.valor = data_gastos.valor.astype(float)
# plot a univariate distribution of observations.
#sns.kdeplot(int(data_gastos["valor"]))

ValueError: could not convert string to float: 'R$           389,20'